# Analysis of students performance

## Set up block
*==> It must be executed minimum one time before executing next code blocks*

In [1]:
# === All imports ===
## global imports
import os
import sys
## spark imports
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

# === Get data souce file ===
data_file = "./data/StudentsPerformance.csv"
if os.path.exists(data_file):
    print(f"[ok]: data source file is found: {data_file}")
else:
    print(f"[ko]: data source file is missing: {data_file}\n/!\The following code blocks will not be able to function normally until this problem is resolved")
    sys.exit(1)

# === Create the Spark session
try:
    spark = SparkSession.builder.master("local").appName("# Analysis of students performance").getOrCreate()
    print("[ok]: spark session created")
except Exception as e:
    print(f"[ko]: cannot create spark session: {e}\n/!\The following code blocks will not be able to function normally until this problem is resolved")
    sys.exit(1)

[ok]: data source file is found: ./data/StudentsPerformance.csv
[ok]: spark session created

## Exercise 1.1 - Exploration
### 1.1.1) Show the schema

In [2]:
df_student_performance = (
    spark.read.option("header", "true")
    .option("inferSchema", "true")
    .option("sep", ",")
    .csv(data_file)
)
df_student_performance.printSchema()

root
 |-- gender: string (nullable = true)
 |-- race/ethnicity: string (nullable = true)
 |-- parental level of education: string (nullable = true)
 |-- lunch: string (nullable = true)
 |-- test preparation course: string (nullable = true)
 |-- math score: integer (nullable = true)
 |-- reading score: integer (nullable = true)
 |-- writing score: integer (nullable = true)

### 1.1.2) Count the number of students

In [3]:
nbr_of_students = df_student_performance.count()
print("nbr of students:", nbr_of_students)

nbr of students: 1000

### 1.1.3) Display the first 10 lines

In [4]:
df_student_performance.show(10)

+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+
|gender|race/ethnicity|parental level of education|       lunch|test preparation course|math score|reading score|writing score|
+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+
|female|       group B|          bachelor's degree|    standard|                   none|        72|           72|           74|
|female|       group C|               some college|    standard|              completed|        69|           90|           88|
|female|       group B|            master's degree|    standard|                   none|        90|           95|           93|
|  male|       group A|         associate's degree|free/reduced|                   none|        47|           57|           44|
|  male|       group C|               some college|    standard|                   none|        76|           78|           75|
|female|       group B|         associate's degree|    standard|                   none|        71|           83|           78|
|female|       group B|               some college|    standard|              completed|        88|           95|           92|
|  male|       group B|               some college|free/reduced|                   none|        40|           43|           39|
|  male|       group D|                high school|free/reduced|              completed|        64|           64|           67|
|female|       group B|                high school|free/reduced|                   none|        38|           60|           50|
+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+
only showing top 10 rows

### 1.1.4) Display descriptive statistics (describe)

In [5]:
df_student_performance.describe().show()

+-------+------+--------------+---------------------------+------------+-----------------------+------------------+------------------+-----------------+
|summary|gender|race/ethnicity|parental level of education|       lunch|test preparation course|        math score|     reading score|    writing score|
+-------+------+--------------+---------------------------+------------+-----------------------+------------------+------------------+-----------------+
|  count|  1000|          1000|                       1000|        1000|                   1000|              1000|              1000|             1000|
|   mean|  NULL|          NULL|                       NULL|        NULL|                   NULL|            66.089|            69.169|           68.054|
| stddev|  NULL|          NULL|                       NULL|        NULL|                   NULL|15.163080096009454|14.600191937252223|15.19565701086966|
|    min|female|       group A|         associate's degree|free/reduced|              completed|                 0|                17|               10|
|    max|  male|       group E|           some high school|    standard|                   none|               100|               100|              100|
+-------+------+--------------+---------------------------+------------+-----------------------+------------------+------------------+-----------------+

## Exercise 1.2 - Selections and Filters
### 1.2.1) Select only gender and the 3 scores

In [6]:
df_student_performance.select(
    "gender", "math score", "reading score", "writing score"
).show(10)

+------+----------+-------------+-------------+
|gender|math score|reading score|writing score|
+------+----------+-------------+-------------+
|female|        72|           72|           74|
|female|        69|           90|           88|
|female|        90|           95|           93|
|  male|        47|           57|           44|
|  male|        76|           78|           75|
|female|        71|           83|           78|
|female|        88|           95|           92|
|  male|        40|           43|           39|
|  male|        64|           64|           67|
|female|        38|           60|           50|
+------+----------+-------------+-------------+
only showing top 10 rows

### 1.2.2) Filter students who obtained a grade above 90 in mathematics

In [7]:
df_student_performance.filter(col("math score") > 90).show(20)

+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+
|gender|race/ethnicity|parental level of education|       lunch|test preparation course|math score|reading score|writing score|
+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+
|  male|       group E|               some college|    standard|                   none|        97|           87|           82|
|  male|       group C|               some college|    standard|              completed|        98|           86|           90|
|female|       group E|          bachelor's degree|    standard|              completed|        99|          100|          100|
|  male|       group B|         associate's degree|    standard|              completed|        91|           89|           92|
|  male|       group E|         associate's degree|free/reduced|              completed|       100|          100|           93|
|female|       group C|          bachelor's degree|    standard|              completed|        96|          100|          100|
|  male|       group E|           some high school|    standard|                   none|        94|           88|           78|
|female|       group D|           some high school|    standard|              completed|        97|          100|          100|
|  male|       group E|           some high school|    standard|                   none|        92|           87|           78|
|female|       group E|                high school|    standard|                   none|        99|           93|           90|
|  male|       group E|         associate's degree|    standard|              completed|        97|           82|           88|
|  male|       group E|               some college|    standard|              completed|        99|           87|           81|
|female|       group E|               some college|    standard|                   none|       100|           92|           97|
|female|       group E|          bachelor's degree|    standard|                   none|       100|          100|          100|
|  male|       group C|               some college|    standard|                   none|        91|           74|           76|
|female|       group B|         associate's degree|    standard|              completed|        94|           87|           92|
|female|       group E|         associate's degree|    standard|              completed|        95|           89|           92|
|female|       group C|         associate's degree|    standard|                   none|        91|           86|           84|
|  male|       group A|         associate's degree|    standard|              completed|        97|           92|           86|
|female|       group A|           some high school|    standard|              completed|        92|          100|           97|
+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+
only showing top 20 rows

### 1.2.3) Filter students with lunch = "free/reduced"

In [8]:
df_student_performance.filter(col("lunch") == "free/reduced").show(20)

+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+
|gender|race/ethnicity|parental level of education|       lunch|test preparation course|math score|reading score|writing score|
+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+
|  male|       group A|         associate's degree|free/reduced|                   none|        47|           57|           44|
|  male|       group B|               some college|free/reduced|                   none|        40|           43|           39|
|  male|       group D|                high school|free/reduced|              completed|        64|           64|           67|
|female|       group B|                high school|free/reduced|                   none|        38|           60|           50|
|female|       group B|           some high school|free/reduced|                   none|        18|           32|           28|
|  male|       group C|            master's degree|free/reduced|              completed|        46|           42|           46|
|female|       group C|         associate's degree|free/reduced|                   none|        54|           58|           61|
|female|       group B|               some college|free/reduced|              completed|        65|           75|           70|
|  male|       group D|          bachelor's degree|free/reduced|              completed|        74|           71|           80|
|  male|       group A|            master's degree|free/reduced|                   none|        73|           74|           72|
|female|       group E|            master's degree|free/reduced|                   none|        56|           72|           65|
|female|       group D|           some high school|free/reduced|                   none|        50|           64|           59|
|female|       group D|         associate's degree|free/reduced|              completed|        75|           90|           88|
|  male|       group B|         associate's degree|free/reduced|                   none|        57|           56|           57|
|  male|       group C|         associate's degree|free/reduced|                   none|        55|           61|           54|
|  male|       group B|               some college|free/reduced|              completed|        59|           65|           66|
|female|       group E|         associate's degree|free/reduced|                   none|        50|           56|           54|
|female|       group D|         associate's degree|free/reduced|              completed|        57|           74|           76|
|  male|       group E|         associate's degree|free/reduced|              completed|        77|           69|           68|
|female|       group C|           some high school|free/reduced|              completed|        71|           84|           87|
+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+
only showing top 20 rows

### 1.2.4) Count the number of students who have completed the preparatory course

In [11]:
nbr_of_students_with_completed_prep_course = df_student_performance.filter(col("test preparation course") == "completed").count()
print("nbr of students with completed prep course:", nbr_of_students_with_completed_prep_course)

nbr of students with completed prep course: 358